<!DOCTYPE html>
<html>
<head>
    <title>Toys</title>
</head>
<body>
<h2>details</h2>
<h5><%= results[0].name %></h5>
<h5><%= results[0].phone %></h2>
<h5><%= results[0].address %></h2>
<h5><%= results[0].toy_name %></h2>
<h5><%= results[0].description %></h2>

</body>
</html>
